


.App, main {
  color:mediumturquoise;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color:black;
}

#logoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#miniLogo {
  height: 5vh;
  object-fit: contain;
  width:10vw;
}
#titleLogo {
  height: 5vh;
  width: 60vw;
  object-fit: contain;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

#splashLogo {
  width: 90vw;
  height: 90vw;
}







/* NAV MENU */

#navMenu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
}
#navMenuItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  font-size: x-small;
}
.icon {
  width: 6vw;
  height: 5vw;
}








/* LIST OF DOGS */


#listWrapper {
  overflow-x: scroll;
  height: 87vh;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  width: 100vw;
  justify-content: space-between;
}
#listWrapper>li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
}
#listName {
  width: 30vw;
  height: 1em;
  text-align: left;
  font-weight: bold;
  text-transform: capitalize;
}
#listBreed {
  width: 30vw;
  height: 1em;
  font-weight: normal;
  font-size: small;
  text-align: left;
  text-transform: capitalize;
}
li button {
  height: 2.5em;
}
.inOutButton {
  font-size: smaller;
  font-weight: bold;
  width: 6em;
  height: 1.2em;
  background-color: black;
  border: solid 2px mediumturquoise;
  border-radius: 5px;
  padding: 0.3em;
  color: mediumturquoise;
}






/* PRESENCE MENU */

#checkedInMenu {
  display: flex;
  flex-direction: row;
  align-content:space-between;
  border-bottom: solid 3px mediumturquoise;
  width: 100vw;
}
#checkedInMenu div {
  font-size: small;
  flex: 1;
  background-color: black;
  border: solid 3px mediumturquoise;
  border-bottom: 0;
  align-self: center;
  padding: 2vw;
  margin: 2vw;
  margin-bottom: 0;
}
#checkedIn.selected,
#checkedOut.selected,
#checkedAll.selected {
  color: black;
  background-color: mediumturquoise;
  border-color:  mediumturquoise;
  border-bottom: 0;
}
#dogCount {
  font-size: small;
  height: 3vh;
}







/* DOG DETAILS */

#dogDetails {
  height: 100vh;
}

#dogDetails h1 {
  align-self:flex-start;
  background-color: mediumturquoise;
  color: black;
  padding: 0.5em;
  padding-right: 3em;
  padding-left: 2em;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#dogInfoWrapper {
  overflow-x: scroll;
}
#dogInfoWrapper>table {
  padding-bottom: 20vh;
  align-self: center;
}
#dogInfoWrapper>img {
  object-fit:cover;
  height: 90vw;
  width: 90vw;
}
#ownerText {
  font-size: small;
  padding: 0.5em;
  margin: 0;
}
#ownerSection {
  padding: 2.5vh;
}

#ownerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 1em;
  padding: 0;
  margin: 0;
}
#ownerInfo p {
  flex: 1;
}


.miscInfoRow p {
  text-transform: capitalize;
  font-size: small;
  height: 1.5em;
  margin: 0;
}
#miscInfoWrapper {
  margin-top: 1em;
  margin-bottom: 15vh;
}
#miscInfoWrapper div {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  
}
.miscInfoRow p {
  flex: 1;
}
.alignRight {
  text-align: right;
  padding-left: 0.5em;
}
.alignLeft {
  text-align: left;
  padding-left: 0.5em;
}








/* SPLASH */

#splash {
  display: flex;
  flex-direction: column;
}
#splashLogo {
  width: 60vw;
  object-fit: contain;

}
#splashTitleLogo {
  width: 90vw;
  object-fit: contain;
}


